a.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 49px;
	height: 49px;
	border-radius: 100%;
	transition: color, background-color 0.3s;
	border: none;
	background-color: var(--main-red);
	font-size: 24px;
	cursor: pointer;
}

.dropdown {
	position: relative;
	padding: 0;

	border: none;

	&[open] .button,
	&[open] .stick,
	&:hover .button {
		background-color: rgb(204, 4, 68);
	}

	&[open] .stick {
		&::before {
			bottom: 0;
			transform: rotate(-45deg);
		}
		&::after {
			top: 0;
			transform: rotate(45deg);
		}
	}
}

.dropdown__item--mobile {
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
}

.dropdown summary {
	list-style: none;
	list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
	display: none;
}

.dropdown summary:focus {
	outline: none;
}

.dropdown summary:focus {
	outline: none;
}

.dropdown[open] > ul {
	opacity: 1;
}

.dropdown ul {
	background-color: #ffffff;
	position: absolute;
	right: 0;
	min-width: 277px;

	display: grid;
	gap: 7px;

	transition: all 0.3s;
	opacity: 0;
	border-radius: 30px;
	box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);

	margin: 20px 0 0 0;
	padding: 20px 0;
	z-index: 2;

	border-radius: 6px;
	list-style: none;
}

.dropdown ul li {
	padding: 8px 20px;
	cursor: pointer;
}

.dropdown ul li:hover {
	background-color: #f4f5f7;
	font-weight: bold;
}

.dropdown ul li a {
	width: 100%;
	display: block;
	color: #333030;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.32px;

	@media (max-width: 768px) {
		font-size: 24px;
	}
}

.dropdown > summary::before {
	display: none;
}

.dropdown[open] > summary::before {
	content: ' ';
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.stick {
	width: 19px;
	height: 2px;
	border-radius: 6px;
	background-color: #ffffff;
	display: block;
	position: relative;

	&::before,
	&::after {
		transition: all 0.3s;
		position: absolute;
		content: '';
		width: 19px;
		height: 2px;
		background-color: #ffffff;
		transition: all 0.3s;
	}

	&::before {
		bottom: -6px;
	}
	&::after {
		top: -6px;
	}
}
