.input-root {
	width: 100%;
	padding: 12px 0px 20px;
	background-color: var(--secondary-bg);
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	position: relative;
	z-index: 1;
	align-items: center;
	height: 70px;
}

.input-body {
	padding-inline-end: 16px;
	padding-inline-start: 19px;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active,
	&:-internal-autofill-selected {
		-webkit-box-shadow: 0 0 0px 1000px var(--secondary-bg) inset !important;
		-webkit-text-fill-color: var(--main-dark) !important;
		background-color: transparent !important;
		top: 14px;
	}

	height: 100%;
	width: 100%;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	z-index: 3;
	background-color: transparent;
	outline: none;
	border: none;
	color: var(--main-dark);
	top: 12px;

	&::placeholder {
		color: #6d6c6c;
		opacity: 0.45;
	}
}

.input-label {
	transition: all 0.1s;
}

.input-root:has(> input[name='Account']) {
	min-width: 190px !important;
}

.input-body:placeholder-shown {
	/* top: 10px; */
}
.input-body[placeholder='Необязательно'] {
	/* top: 12px; */
}

.input-body:placeholder-shown + .input-label {
	font-size: 16px;
	top: 28px;
}

.input-label,
.input-body[placeholder='Необязательно'] + .input-label {
	left: 19px;
	z-index: 2;
	color: var(--secondary-text);
	letter-spacing: 0.24px;
	position: absolute;
	white-space: nowrap;
	top: 12px;
	font-size: 11px;
}
