@import './components/button.css';
@import './components/backButton.css';
@import './components/dropdown.css';
@import './components/input.css';
@import './components/card.css';
/* @import './components/slide.css'; */

@import './widgets/header.css';
@import './widgets/footer.css';

@import './sections/deal.css';
@import './sections/cards.css';
@import './mixins/index.css';
@import './typography/_fonts.css';

:root {
	font-family: 'Cera Pro', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--main-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--main-red: #ff004f;
	--main-dark: #333030;
	--main-bg: #f4f7fd;
	--secondary-bg: #f4f5f7;
	--secondary-text: #9d9d9d;
	--placeholder: #6d6c6c;
	--dark-red: rgba(255, 0, 79, 0.5);
}

html {
	scroll-behavior: smooth;
}

a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}

body {
	margin: 0;
	background-color: var(--main-bg);
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
	}
	a:hover {
		/* color: #747bff; */
	}
	button {
		background-color: #f9f9f9;
	}
}

.section {
	max-width: 1280px;
	margin-inline: auto;
	position: relative;
	@mixin responsive padding-inline, 14, 14;
}

.section--nullishPadding {
	@mixin responsive padding-inline, 0, 14;
}

.swiper {
	position: relative;
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-prev {
	left: calc(100% - 70px);
	top: 30px;
}
.swiper-button-next {
	left: calc(100% - 70px);
	top: 155px;
}
.swiper-button-prev,
.swiper-button-next {
	transform: rotate(90deg);
	/* right: 0 !important; */

	&::after {
		color: var(--main-dark);
		font-size: 20px;
	}
	@media (max-width: 768px) {
		display: none;
	}
}

.text-hightlight {
	color: var(--main-red);
}
.text-hightlight-dark {
	color: var(--dark-red);
}
.button-primary {
	padding: 14px 20px;
	border-radius: 65px;
	background: var(--main-red);
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.28px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}
.button-secondary {
	padding: 14px 20px;
	border-radius: 65px;
	background: var(--secondary-bg);
	color: #000;
	font-size: 14px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.28px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}
.swiper {
	height: 180px;
	position: relative;
	z-index: 3;
	margin-top: -100px;
	max-width: 95%;

	@media (max-width: 768px) {
		margin-top: -50px;
	}

	.swiper-pagination-bullets {
		left: calc(100% - 60px);

		@media (max-width: 768px) {
			left: calc(100% - 24px);
		}
	}
	.swiper-pagination-bullet-active {
		background-color: var(--main-red);
	}
}

.swiper-slide {
	border-radius: 18.72px;
}
