<section class="cards section" id="financial-support">
	<h2>Получите финансовые меры&nbsp;для развития вашего дела</h2>
	<ul class="cards-list">
		{{#each mainCards}}
		{{> card}}
		{{/each}}
	</ul>
</section>
