<section class="cards section" id="financial-support">
	<h2>Актуальные финансовые меры <br /> поддержки Правительства Москвы</h2>
	<ul class="cards-list">
		{{#each mainCards}}
		{{> card}}
		{{/each}}
	</ul>
</section>
