<section class='section section--nullishPadding'>
	<div class='deal-content'>
		<h1 class='deal-content__heading'>На языке <br />дела</h1>
		<p class='deal-content__subheading'>Бизнес Москвы начинается здесь
		</p>
		<a
			href='#consultation-form'
			class='deal-content__link'
			onclick="_tmr.push({ type: 'reachGoal', id: 3495983, goal: 'get_consultation'});ym(53115394, 'reachGoal', 'get_consultation', {location_click: 'main_banner'}); return true;"
		>Найти поддержку</a>
		<img
			class='deal-content__man'
			src='/src/assets/images/pavel.png'
			alt='фотография Павла Овчинников'
		/>
		<img
			class='deal-content__graf'
			src='/src/assets/images/graf.png'
			alt='graf'
		/>

		<div class='buble'>
			<p class='name'>Павел Овчинников | ООО «УАЙТ ИННОВЕЙШН»</p>
			<p class='place'>Компания получила грант на оборудование</br>
			в размере 615 000 рублей</p>
		</div>
	</div>
	{{!-- <div class="swiper mySwiper">
				<div class="swiper-wrapper" style="color: black">
					<div class="swiper-slide">{{> slide}}</div>
					<div class="swiper-slide">{{> slide2}}</div>
					<div class="swiper-slide">{{> slide3}}</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
			</div> --}}
</section>
