<details class='dropdown'>
	<summary role='button'>
		<a class='button'><span class='stick' /></a>
	</summary>
	<ul>
		<li class='dropdown__item'><a href='#financial-support'>Меры развития</a></li>
		<li class='dropdown__item dropdown__item--mobile'><a
				href='#consultation-form'
				onclick="_tmr.push({ type: 'reachGoal', id: 3495983, goal: 'get_consultation'});ym(53115394, 'reachGoal', 'get_consultation', {location_click: 'main_banner'}); return true;"
			>Написать нам</a></li>
		<li class='dropdown__item dropdown__item--mobile'><a
				href='tel:+74994441615'
				onclick="_tmr.push({ type: 'reachGoal', id: 3495983, goal: 'click_on_phone_number'});ym(53115394, 'reachGoal', 'click_on_phone_number'); return true;"
			>Позвонить нам</a></li>
	</ul>
</details>
