@font-face {
  font-family: museo;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../assets/fonts/museo_sans_normal.ttf") format("truetype");
}
@font-face {
  font-family: museo;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/museo_sans_500.ttf") format("truetype");
}
@font-face {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../assets/fonts/cerapro_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/cerapro_medium.ttf") format("truetype");
}
@font-face {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../assets/fonts/cerapro_black.ttf") format("truetype");
}
